

html {
    overflow-y: hidden;
}


body {
    background-color: #16162A;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    
}

#dots_top { 
    margin-left: 2vw;
    overflow: hidden;
    position: relative;
    margin-top: -30vw;
    z-index: 2;
}

#dots_top img {
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-left: 10vw;
    
}

#dots_bottom {
    position: relative;
 top: -60vw;
    padding: 20vw;
    right: 25vw;
    pointer-events: none;
   
    
   

}

#dots_bottom img {
    position: fixed;
    width: 120vw;
    height: 60vw;
    top: 160vw;
    pointer-events: none;
    
}


